@import './color.scss';

@mixin com-background-color {
    background-color: $lightGreen
}

@mixin background-item($url, $size, $repeat, $position) {
    background-image: url($url);
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}

// 水平垂直居中
@mixin flex-setting($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

// hover
@mixin hover($type) {
    &:hover {
        cursor: $type;
    }
}